.pull-left { float: left; }
.pull-right { float: right; }
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }

.fileLink {
  cursor: pointer;

  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}
